@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.avatar {
    position: relative;
    display: inline-flex;
    width: calc(var(--spacing)*8);
    height: calc(var(--spacing)*8);

    & > .avatar-image-container {

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;
        overflow: hidden;
        border-radius: 100%;

        width: 100%;
        height: 100%;

        &:has(> .avatar-skeleton) {
            background-color: var(--foreground);
        }

       & > .avatar-image {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
        }

        & > .avatar-skeleton {
            display: inline;
            color: var(--background);
            
            text-align: center;
            vertical-align: middle;

            font-size: var(--text-sm);
            @include font-bold;
        }
    }

    & > .avatar-fallback {
        position: relative;
        bottom: 0;
        right: 0;
    }

    &.avatar-rounded-sm > .avatar-image-container {
        border-radius: var(--radius-sm);
    }
    
}