@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.company-table {

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);

    .companies {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--spacing) * 1) calc(var(--spacing) * 10);

        .card.company {
            padding-block: calc(var(--spacing) * 1);
        }
    
        @include onDesktop() {
            grid-template-columns: repeat(2, 1fr);
        }

        @include onTablet() {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}