@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

dialog:not(.dropdown) {
  position: relative;

  margin: 25vh auto;
  border: none !important;
  border-radius: calc(var(--radius));

  --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color,#0000001a),0 1px 2px -1px var(--tw-shadow-color,#0000001a);
  box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);

  max-width: var(--container-2xl);
  padding: calc(var(--spacing) * 10);

  animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
  
  &[open] {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &::backdrop {
    background-color: color-mix(in oklab,var(--color-black)50%,transparent);
  }

  & > button.close {
    position: absolute;
    top: calc(var(--spacing) * 6);
    right: calc(var(--spacing) * 6);
  }

  & > .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: calc(var(--spacing) * 2);
    padding-top: calc(var(--spacing) * 4);
  }
}
