@use "../pages/auth";
@use "../pages/home";
@use "../pages/jobs";
@use "../pages/articles";
@use "../pages/job-entry";
@use "../pages/companies";
@use "../pages/company-profile";
@use "../pages/hire";