@use "./fonts" as *;
@use "./colors" as *;
@use "./breakpoints" as *;

:host, :root {
  --font-sans:"Geist","Geist Fallback";
  --font-mono:"Geist Mono","Geist Mono Fallback";
  --color-red-50:oklch(97.1% .013 17.38);
  --color-red-300:oklch(80.8% .114 19.571);
  --color-red-400:oklch(70.4% .191 22.216);
  --color-red-500:oklch(63.7% .237 25.331);
  --color-red-600:oklch(57.7% .245 27.325);
  --color-red-700:oklch(50.5% .213 27.518);
  --color-red-800:oklch(44.4% .177 26.899);
  --color-red-900:oklch(39.6% .141 25.723);
  --color-orange-50:oklch(98% .016 73.684);
  --color-orange-300:oklch(83.7% .128 66.29);
  --color-orange-400:oklch(75% .183 55.934);
  --color-orange-500:oklch(70.5% .213 47.604);
  --color-orange-600:oklch(64.6% .222 41.116);
  --color-orange-700:oklch(55.3% .195 38.402);
  --color-orange-800:oklch(47% .157 37.304);
  --color-orange-900:oklch(40.8% .123 38.172);
  --color-amber-50:oklch(98.7% .022 95.277);
  --color-amber-100:oklch(96.2% .059 95.617);
  --color-amber-200:oklch(92.4% .12 95.746);
  --color-amber-300:oklch(87.9% .169 91.605);
  --color-amber-400:oklch(82.8% .189 84.429);
  --color-amber-500:oklch(76.9% .188 70.08);
  --color-amber-600:oklch(66.6% .179 58.318);
  --color-amber-700:oklch(55.5% .163 48.998);
  --color-amber-800:oklch(47.3% .137 46.201);
  --color-amber-900:oklch(41.4% .112 45.904);
  --color-amber-950:oklch(27.9% .077 45.635);
  --color-yellow-50:oklch(98.7% .026 102.212);
  --color-yellow-300:oklch(90.5% .182 98.111);
  --color-yellow-400:oklch(85.2% .199 91.936);
  --color-yellow-500:oklch(79.5% .184 86.047);
  --color-yellow-600:oklch(68.1% .162 75.834);
  --color-yellow-700:oklch(55.4% .135 66.442);
  --color-yellow-800:oklch(47.6% .114 61.907);
  --color-yellow-900:oklch(42.1% .095 57.708);
  --color-lime-50:oklch(98.6% .031 120.757);
  --color-lime-400:oklch(84.1% .238 128.85);
  --color-lime-500:oklch(76.8% .233 130.85);
  --color-lime-600:oklch(64.8% .2 131.684);
  --color-lime-900:oklch(40.5% .101 131.063);
  --color-green-50:oklch(98.2% .018 155.826);
  --color-green-100:oklch(96.2% .044 156.743);
  --color-green-300:oklch(87.1% .15 154.449);
  --color-green-400:oklch(79.2% .209 151.711);
  --color-green-500:oklch(72.3% .219 149.579);
  --color-green-600:oklch(62.7% .194 149.214);
  --color-green-700:oklch(52.7% .154 150.069);
  --color-green-800:oklch(44.8% .119 151.328);
  --color-green-900:oklch(39.3% .095 152.535);
  --color-green-950:oklch(26.6% .065 152.934);
  --color-emerald-500:oklch(69.6% .17 162.48);
  --color-teal-50:oklch(98.4% .014 180.72);
  --color-teal-300:oklch(85.5% .138 181.071);
  --color-teal-400:oklch(77.7% .152 181.912);
  --color-teal-500:oklch(70.4% .14 182.503);
  --color-teal-600:oklch(60% .118 184.704);
  --color-teal-700:oklch(51.1% .096 186.391);
  --color-teal-800:oklch(43.7% .078 188.216);
  --color-teal-900:oklch(38.6% .063 188.416);
  --color-cyan-900:oklch(39.8% .07 227.392);
  --color-sky-300:oklch(82.8% .111 230.318);
  --color-sky-500:oklch(68.5% .169 237.323);
  --color-blue-50:oklch(97% .014 254.604);
  --color-blue-100:oklch(93.2% .032 255.585);
  --color-blue-300:oklch(80.9% .105 251.813);
  --color-blue-400:oklch(70.7% .165 254.624);
  --color-blue-500:oklch(62.3% .214 259.815);
  --color-blue-600:oklch(54.6% .245 262.881);
  --color-blue-700:oklch(48.8% .243 264.376);
  --color-blue-800:oklch(42.4% .199 265.638);
  --color-blue-900:oklch(37.9% .146 265.522);
  --color-blue-950:oklch(28.2% .091 267.935);
  --color-violet-50:oklch(96.9% .016 293.756);
  --color-violet-300:oklch(81.1% .111 293.571);
  --color-violet-400:oklch(70.2% .183 293.541);
  --color-violet-500:oklch(60.6% .25 292.717);
  --color-violet-600:oklch(54.1% .281 293.009);
  --color-violet-700:oklch(49.1% .27 292.581);
  --color-violet-800:oklch(43.2% .232 292.759);
  --color-violet-900:oklch(38% .189 293.745);
  --color-purple-50:oklch(97.7% .014 308.299);
  --color-purple-300:oklch(82.7% .119 306.383);
  --color-purple-400:oklch(71.4% .203 305.504);
  --color-purple-500:oklch(62.7% .265 303.9);
  --color-purple-600:oklch(55.8% .288 302.321);
  --color-purple-700:oklch(49.6% .265 301.924);
  --color-purple-800:oklch(43.8% .218 303.724);
  --color-purple-900:oklch(38.1% .176 304.987);
  --color-pink-500:oklch(65.6% .241 354.308);
  --color-pink-600:oklch(59.2% .249 .584);
  --color-rose-50:oklch(96.9% .015 12.422);
  --color-rose-300:oklch(81% .117 11.638);
  --color-rose-400:oklch(71.2% .194 13.428);
  --color-rose-500:oklch(64.5% .246 16.439);
  --color-rose-600:oklch(58.6% .253 17.585);
  --color-rose-700:oklch(51.4% .222 16.935);
  --color-rose-800:oklch(45.5% .188 13.697);
  --color-rose-900:oklch(41% .159 10.272);
  --color-slate-50:oklch(98.4% .003 247.858);
  --color-slate-100:oklch(96.8% .007 247.896);
  --color-slate-200:oklch(92.9% .013 255.508);
  --color-slate-400:oklch(70.4% .04 256.788);
  --color-slate-500:oklch(55.4% .046 257.417);
  --color-slate-800:oklch(27.9% .041 260.031);
  --color-slate-900:oklch(20.8% .042 265.755);
  --color-slate-950:oklch(12.9% .042 264.695);
  --color-gray-50:oklch(98.5% .002 247.839);
  --color-gray-100:oklch(96.7% .003 264.542);
  --color-gray-200:oklch(92.8% .006 264.531);
  --color-gray-400:oklch(70.7% .022 261.325);
  --color-gray-500:oklch(55.1% .027 264.364);
  --color-gray-800:oklch(27.8% .033 256.848);
  --color-gray-900:oklch(21% .034 264.665);
  --color-gray-950:oklch(13% .028 261.692);
  --color-zinc-50:oklch(98.5% 0 0);
  --color-zinc-100:oklch(96.7% .001 286.375);
  --color-zinc-200:oklch(92% .004 286.32);
  --color-zinc-400:oklch(70.5% .015 286.067);
  --color-zinc-500:oklch(55.2% .016 285.938);
  --color-zinc-800:oklch(27.4% .006 286.033);
  --color-zinc-900:oklch(21% .006 285.885);
  --color-zinc-950:oklch(14.1% .005 285.823);
  --color-neutral-50:oklch(98.5% 0 0);
  --color-neutral-100:oklch(97% 0 0);
  --color-neutral-200:oklch(92.2% 0 0);
  --color-neutral-300:oklch(87% 0 0);
  --color-neutral-400:oklch(70.8% 0 0);
  --color-neutral-500:oklch(55.6% 0 0);
  --color-neutral-600:oklch(43.9% 0 0);
  --color-neutral-700:oklch(37.1% 0 0);
  --color-neutral-800:oklch(26.9% 0 0);
  --color-neutral-900:oklch(20.5% 0 0);
  --color-neutral-950:oklch(14.5% 0 0);
  --color-stone-50:oklch(98.5% .001 106.423);
  --color-stone-100:oklch(97% .001 106.424);
  --color-stone-200:oklch(92.3% .003 48.717);
  --color-stone-300:oklch(86.9% .005 56.366);
  --color-stone-400:oklch(70.9% .01 56.259);
  --color-stone-500:oklch(55.3% .013 58.071);
  --color-stone-600:oklch(44.4% .011 73.639);
  --color-stone-700:oklch(37.4% .01 67.558);
  --color-stone-800:oklch(26.8% .007 34.298);
  --color-stone-900:oklch(21.6% .006 56.043);
  --color-stone-950:oklch(14.7% .004 49.25);
  --color-black:#000;
  --color-white:#fff;
  --spacing:.25rem;
  --breakpoint-2xl:96rem;
  --container-4xs:8rem;
  --container-3xs:12rem;
  --container-2xs:16rem;
  --container-xs:20rem;
  --container-sm:24rem;
  --container-md:28rem;
  --container-lg:32rem;
  --container-xl:36rem;
  --container-2xl:42rem;
  --container-3xl:48rem;
  --container-4xl:56rem;
  --container-5xl:64rem;
  --container-6xl:72rem;
  --text-xs:.75rem;
  --text-xs--line-height:calc(1/.75);
  --text-sm:.875rem;
  --text-sm--line-height:calc(1.25/.875);
  --text-md:1rem;
  --text-md--line-height:calc(1.5/1);
  --text-lg:1.125rem;
  --text-lg--line-height:calc(1.75/1.125);
  --text-xl:1.25rem;
  --text-xl--line-height:calc(1.75/1.25);
  --text-2xl:1.5rem;
  --text-2xl--line-height:calc(2/1.5);
  --text-3xl:1.875rem;
  --text-3xl--line-height:calc(2.25/1.875);
  --text-4xl:2.25rem;
  --text-4xl--line-height:calc(2.5/2.25);
  --text-5xl:3rem;
  --text-5xl--line-height:1;
  --text-6xl:3.5rem;
  --text-6xl--line-height:1.15;
  --text-7xl:4.5rem;
  --text-7xl--line-height:1.2;
  --font-weight-normal:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --font-weight-extrabold:800;
  --tracking-tighter:-.05em;
  --tracking-tight:-.025em;
  --tracking-widest:.1em;
  --leading-tight:1.25;
  --leading-snug:1.375;
  --leading-normal:1.5;
  --leading-relaxed:1.625;
  --leading-loose:2;
  --radius-xs:.125rem;
  --radius-sm:calc(var(--radius) - 4px);
  --radius-md:calc(var(--radius) - 2px);
  --radius-lg:var(--radius);
  --radius-xl:calc(var(--radius) + 4px);
  --shadow-xl:0 20px 25px -5px #0000001a,0 8px 10px -6px #0000001a;
  --ease-out:cubic-bezier(0,0,.2,1);
  --ease-in-out:cubic-bezier(.4,0,.2,1);
  --animate-spin:spin 1s linear infinite;
  --animate-pulse:pulse 2s cubic-bezier(.4,0,.6,1)infinite;
  --blur-sm:8px;
  --aspect-video:16/9;
  --default-transition-duration:.15s;
  --default-transition-timing-function:cubic-bezier(.4,0,.2,1);
  --default-font-family:var(--font-sans);
  --default-mono-font-family:var(--font-mono);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-card-foreground:var(--card-foreground);
  --color-popover:var(--popover);
  --color-popover-foreground:var(--popover-foreground);
  --color-primary:var(--primary);
  --color-primary-foreground:var(--primary-foreground);
  --color-secondary:var(--secondary);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-muted:var(--muted);
  --color-muted-foreground:var(--muted-foreground);
  --color-accent:var(--accent);
  --color-accent-foreground:var(--accent-foreground);
  --color-destructive:var(--destructive);
  --color-border:var(--border);
  --color-input:var(--input);
  --color-ring:var(--ring);
  --color-chart-1:var(--chart-1);
  --color-chart-2:var(--chart-2);
  --color-chart-3:var(--chart-3);
  --color-chart-4:var(--chart-4);
  --color-chart-5:var(--chart-5);
  --color-sidebar:var(--sidebar);
  --color-sidebar-foreground:var(--sidebar-foreground);
  --color-sidebar-primary:var(--sidebar-primary);
  --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
  --color-sidebar-accent:var(--sidebar-accent);
  --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
  --color-sidebar-border:var(--sidebar-border);
  --color-sidebar-ring:var(--sidebar-ring);
  --color-code:var(--code);
  --color-code-foreground:var(--code-foreground);
  --color-code-highlight:var(--code-highlight);
  --color-code-number:var(--code-number)
}

*, ::backdrop, :after, :before {
  box-sizing:border-box;
  border:0 solid;
  margin:0;
  padding:0
}

::file-selector-button {
  box-sizing:border-box;
  border:0 solid;
  margin:0;
  padding:0
}

:host, html {
  -webkit-text-size-adjust:100%;
  tab-size:4;
  line-height:1.5;
  font-family:var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji");
  font-feature-settings:var(--default-font-feature-settings,normal);
  font-variation-settings:var(--default-font-variation-settings,normal);
  -webkit-tap-highlight-color:transparent
}

hr {
  height:0;
  color:inherit;
  border-top-width:1px
}

abbr:where([title]) {
  -webkit-text-decoration:underline dotted;
  text-decoration:underline dotted
}

h1, h2, h3, h4, h5, h6 {
  font-size:inherit;
  font-weight:inherit
}

a {
  color:inherit;
  -webkit-text-decoration:inherit;
  text-decoration:inherit
}

b, strong {
  font-weight:bolder
}

code, kbd, pre, samp {
  font-family:var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace);
  font-feature-settings:var(--default-mono-font-feature-settings,normal);
  font-variation-settings:var(--default-mono-font-variation-settings,normal);
  font-size:1em
}

small {
  font-size:80%
}

sub, sup {
  vertical-align:baseline;
  font-size:75%;
  line-height:0;
  position:relative
}

sub {
  bottom:-.25em
}

sup {
  top:-.5em
}
  table {
    text-indent:0;
    border-color:inherit;
    border-collapse:collapse
  }
  :-moz-focusring {
    outline:auto
  }
  progress {
    vertical-align:baseline
  }
  summary {
    display:list-item
  }
  menu,
  ol,
  ul {
    list-style:none
  }
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    vertical-align:middle;
    display:block
  }
  img,
  video {
    max-width:100%;
    height:auto
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font:inherit;
    font-feature-settings:inherit;
    font-variation-settings:inherit;
    letter-spacing:inherit;
    color:inherit;
    opacity:1;
    background-color:#0000;
    border-radius:0
  }
  ::file-selector-button {
    font:inherit;
    font-feature-settings:inherit;
    font-variation-settings:inherit;
    letter-spacing:inherit;
    color:inherit;
    opacity:1;
    background-color:#0000;
    border-radius:0
  }
  :where(select:is([multiple],
  [size])) optgroup {
    font-weight:bolder
  }
  :where(select:is([multiple],
  [size])) optgroup option {
    padding-inline-start:20px
  }
  ::file-selector-button {
    margin-inline-end:4px
  }
  ::placeholder {
    opacity:1
  }
  @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
    ::placeholder {
      color:currentColor
    }
    @supports (color:color-mix(in lab,red,red)) {
      ::placeholder {
        color:color-mix(in oklab,currentcolor 50%,transparent)
      }
    }
  }
  textarea {
    resize:vertical
  }
  ::-webkit-search-decoration {
    -webkit-appearance:none
  }
  ::-webkit-date-and-time-value {
    min-height:1lh;
    text-align:inherit
  }
  ::-webkit-datetime-edit {
    display:inline-flex
  }
  ::-webkit-datetime-edit-fields-wrapper {
    padding:0
  }
  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-year-field {
    padding-block:0
  }
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-month-field {
    padding-block:0
  }
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-minute-field {
    padding-block:0
  }
  ::-webkit-datetime-edit-millisecond-field,
  ::-webkit-datetime-edit-second-field {
    padding-block:0
  }
  ::-webkit-datetime-edit-meridiem-field {
    padding-block:0
  }
  :-moz-ui-invalid {
    box-shadow:none
  }
  button,
  input:where([type=button],
  [type=reset],
  [type=submit]) {
    appearance:button
  }
  ::file-selector-button {
    appearance:button
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height:auto
  }
  [hidden]:where(:not([hidden=until-found])) {
    display:none!important
  }
  * {
    border-color:var(--border);
    outline-color:var(--ring)
  }
  @supports (color:color-mix(in lab,red,red)) {
    * {
      outline-color:color-mix(in oklab,var(--ring)50%,transparent)
    }
  }
  ::selection {
    background-color:var(--selection);
    color:var(--selection-foreground)
  }

@supports (font:-apple-system-body) and (appearance:none) {
  @media (min-width:1800px) {
    [data-wrapper] {
      border-top-style:var(--tw-border-style);
      border-top-width:1px
    }
  }
}

a:active, button:active {
  opacity:.6
}

@media (min-width:48rem) {
  a:active, button:active {
    opacity:1
  }
}

// CUSTOM RESETS

a {
  cursor: pointer;
}

html {
  scroll-behavior:smooth
}

html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

// body, main {
//   margin-bottom: calc(var(--spacing)*4);
// }

main, main > section, main > article {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing)*4);
  padding-inline: calc(var(--spacing)*3);
  width: 100%;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  overflow-x: hidden;
  overflow-y: auto;

  font-synthesis-weight:none;
  text-rendering:optimizeLegibility;

  color: var(--foreground);
  background-color: var(--background);

  text-underline-offset: 2px;
}

hr {
    border-top-width: 1px;
    border-color: var(--border);
    border-style: var(--tw-border-style);
    margin-block: calc(var(--spacing)*1);
    outline-color: color-mix(in oklab,var(--ring)50%,transparent);
}

label:has(input[type="checkbox"]) {
  user-select: none;
  cursor: pointer;
}

