@use "../sections/header";
@use "../sections/hero";
@use "../sections/about";
@use "../sections/author";
@use "../sections/featured";
@use "../sections/specialities";
@use "../sections/newsletter";
@use "../sections/dashboard-sections";
@use "../sections/footer";
@use "../sections/title";