@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

h1, h2, h3, h4 {
    --tw-tracking: var(--tracking-tight);
    letter-spacing: var(--tracking-tight);

    scroll-margin: calc(var(--spacing)*20);
}

h1 {
    text-align: center;
    text-wrap: balance;
    font-family: 'Outfit';
    
    --tw-font-weight: var(--font-weight-extrabold);
    font-weight: var(--font-weight-extrabold);

    font-size: var(--text-4xl);
    line-height: var(--tw-leading,var(--text-3xl--line-height));

}

h2 {
    font-family: 'Outfit';
    margin-top: calc(var(--spacing)*0);

    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);

    font-size: var(--text-3xl);
    line-height: var(--tw-leading,var(--text-3xl--line-height));

    padding-bottom: calc(var(--spacing)*2);
}

h3 {
    font-family: 'Outfit';
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);

    font-size: var(--text-2xl);
    line-height: var(--tw-leading,var(--text-xl--line-height));
}

h4 {
    font-family: 'Albert Sans';
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);

    font-size: var(--text-xl);
    line-height: var(--tw-leading,var(--text-lg--line-height));
}

p, li {
    font-family: 'Albert Sans';
    --tw-leading: calc(var(--spacing)*5.5);
    line-height: calc(var(--spacing)*5.5);
    // color: var(--secondary);
}

blockquote {
    font-style: italic;

    margin-top: calc(var(--spacing)*6);
    padding-left: calc(var(--spacing)*6);

    border-left-style: var(--tw-border-style);
    border-left-width: 2px;
}

.text-muted, .text-muted-sm {
    @include text-muted-sm;
}

.text-muted-md {
    @include text-muted-md;
}