@keyframes accordion-down {
  0% {
    height:0
  }
  to {
    height:var(--radix-accordion-content-height,var(--bits-accordion-content-height,var(--reka-accordion-content-height,var(--kb-accordion-content-height,auto))))
  }
}
@keyframes accordion-up {
  0% {
    height:var(--radix-accordion-content-height,var(--bits-accordion-content-height,var(--reka-accordion-content-height,var(--kb-accordion-content-height,auto))))
  }
  to {
    height:0
  }
}

