@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

main.auth {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing)*4);
    gap: calc(var(--spacing)*8);
    
    height: 100%;

    & > section {

        margin: 15vh 0;
        text-align: center;

        max-width: var(--container-2xl);

        .form{
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing)*4);
        }

    }
}

section.verify {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;

    margin: 15vh 0;

}
