@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

article.companies {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc(var(--spacing)*16);

    aside, section, .body, .footer {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing));
        width: 100%;
    }

    & > .title { 
        padding-block: calc(var(--spacing) * 12);
    }

    & > .columns {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: calc(var(--spacing) * 10);

        @include onTablet() {
            display: flex;
            flex-direction: column;
        }
    }
    
}