@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

main.home {

    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: auto;
    gap: calc(var(--spacing)*8);
    max-width: var(--container-6xl);

    grid-template-areas: 
    "hero hero"
    "featured aside"
    "featured about"
    "featured .";

    @include onTablet {
        grid-template-columns: 1fr;
        grid-template-areas:
        "hero"
        "featured"
        "aside"
        "about";
    }

    & > aside {

        grid-area: aside;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: calc(var(--spacing)*4);
        // padding-inline: calc(var(--spacing)*6);

        // max-width: var(--container-sm);
    }

}