@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

body.dashboard {

    display: grid;
    grid-template-areas:
        "header header"
        "aside breadcumbs"
        "aside main"
        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;

    & > header {
        grid-area: header;
    }

    & > aside {
        grid-area: aside;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: start;

        padding-block: calc(var(--spacing) * 4);
        padding-inline: calc(var(--spacing) * 2);

        border-right-width: 1px;
        border-color: color-mix(in oklab,var(--ring)10%,transparent);
        border-style: var(--tw-border-style);
        border-radius: 0;

        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        font-family: var(--font-mono);

        h5 {
            @include text-muted-sm;
            
            text-transform: uppercase;

            padding: calc(var(--spacing) * 5);
            padding-bottom: 0;
        }

        .item {
            padding-inline: calc(var(--spacing) * 2);
            min-width: var(--container-2xs);
            a {
                width: 100%;
                justify-content: start;
            }
        }
    }

    & > main {
        grid-area: main;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: start;

        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        & > section {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing) * 4);
            padding: calc(var(--spacing) * 4) calc(var(--spacing) * 6);
        }
    }

    & > nav {
        grid-area: breadcumbs;

        padding-block: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 4);

        ol {
            color: var(--muted-foreground);

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(var(--spacing) * 1.5);
            @include text-sm;
            overflow-wrap: break-word;
        }

        li {
            display: flex;
            align-items: center;
            gap: calc(var(--spacing) * 1.5);

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        [aria-current="page"], a:hover {
            color: var(--foreground);
        }
    }

    & > footer {
        grid-area: footer;
    }

}