@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.dashboard-excerpt {

    border-width: 1px;
    border-color: var(--primary);
    border-style: var(--tw-border-style);
    border-radius: calc(var(--radius));

    padding: calc(var(--spacing) * 4);
    margin-block: calc(var(--spacing) * 4);

    background-color:color-mix(in oklab,var(--primary)10%,transparent);

    strong {
        color: var(--primary);
        @include font-semibold;
    }
}

.dashboard-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(var(--spacing) * 4);
    width: 100%;

    & > .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: calc(var(--spacing) * 2);
        margin-left: auto;
    }
}


section.dashboard-profile {

    & > .info {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 8);

        & > .avatar {
            min-width: calc(var(--spacing)*24);
            min-height: calc(var(--spacing)*24);
        }

        & > .group {
            display: flex;
            flex-direction: column;
            gap: calc(var(--spacing) * 0);
            width: 100%;
        }
    }

    & > .bio {
        display: flex;
        flex-direction: column;
    }

}

section.dashboard-projects {

    & > .projects {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 4);
        padding: calc(var(--spacing) * 4);
    }

}

section.dashboard-experiences {

    & > .experiences {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 4);
        padding: calc(var(--spacing) * 4);
        width: 95%;
    }

}