@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

main.home > section.featured {

    grid-area: featured;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: start;
    align-self: start;
    padding-bottom: calc(var(--spacing)*8);
    padding-inline: calc(var(--spacing)*1);

    max-width: var(--container-xl);

    & > * {
        width: 100%;
        min-width: var(--container-2xs);
        max-width: var(--container-2xl);
    }

    .positions {
        
        @include text-lg;
        @include font-semibold;
        padding-inline: calc(var(--spacing)*4);
    }

    .updated {

        @include text-sm;
        @include font-normal;
        padding-inline: calc(var(--spacing)*4);

        opacity: 0.5;
    }

}