@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

// body {
//     --background: var(--dark-background);
//     --foreground: var(--dark-foreground);
// }

body > header {

    // --background: var(--dark-background);
    // --foreground: var(--dark-foreground);

    display: grid;
    grid-template-areas:"hamburger logo menu actions options profile";
    grid-template-columns: auto 1fr auto auto auto auto;

    gap: calc(var(--spacing));
    
    padding-block: calc(var(--spacing)*4);
    padding-inline: calc(var(--spacing)*4);

    border-radius: calc(var(--radius));
    background-color: var(--background);

    font-family: "Outfit", sans-serif;

    @include max-width-by-screen;

    @include onTablet
    {
        padding-block: calc(var(--spacing)*2);
        padding-inline: calc(var(--spacing)*2);
        grid-template-areas:
        "hamburger logo options profile" 
        "menu menu menu menu" 
        "actions actions actions actions";

        grid-template-columns: auto 1fr auto auto;
    }

    & > .root {
        grid-area: logo;
        justify-content: start;

        @include onTablet {
            justify-content: center;
        }
    }

    & > .menu {
        grid-area: menu;

        display: flex;

        & > .sections {
            display: flex;
            width: 100%;
            gap: calc(var(--spacing) * 4);

            @include onTablet {
                flex-direction: column;
            }

            & > .items {
                grid-area: items;

                display: flex;
                align-items: center;
                justify-content: center;

                gap: calc(var(--spacing) * 1);

                @include onTablet {
                    flex-direction: column;
                }
            }

            & > .cta {
                grid-area: cta;

                display: flex;
                
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: calc(var(--spacing) * 6);

                text-align: center;

                .title {
                    display: none;
                    margin-top: calc(var(--spacing) * 6);
                    opacity: .7;
                    @include font-normal;
                }

                & > .group {
                    display: flex;
                    
                    align-items: center;
                    justify-content: center;
                    gap: calc(var(--spacing) * 1);

                    @include onTablet {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    & > .actions {
        grid-area: actions;
        display: flex;

    }

    & > .options {
        grid-area: options;
        display: flex;
    }

    & > .profile {
        grid-area: profile;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    .item {

        .skeleton{
            display: none;
        }

        .trailing-icon {
            display: none;
            margin-left: auto;
        }
    }

    .menu-toggle {
        grid-area: hamburger;

        display: none;
        padding: 0;
        cursor: pointer;
        margin-left: auto;

        @include onTablet {
            display: inline-flex;
        }
    }
}


body.open {
    overflow: hidden;

    & > *:not(header) {
        display: none;
    }

    & > header {
        height: 100%;
        height: 100vh;
        min-height: 100vh;
        align-content: start;

        .sections {
            margin-top: calc(var(--spacing) * 4);
        }

        .menu-toggle > .hamburger-icon {
            rotate: 45deg;
            stroke-dashoffset: -68px;
        }

        & .menu > .sections > .cta > .title {
            display: block;
        }

        .item {
            width: 100%;
            a {
                width: 100%;
            }
            .skeleton, .trailing-icon {
                display: inline-flex;
            }
        }
    }
}


body:not(.open) {

    @include onTablet {
        header {
            // overflow-x: hidden;
            // overflow-y: auto;
            .menu {
                display: none;
            }
        }
    }
}